<div class="container">

	<hr>

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Edu Store Ruby on Rails 2017</p>
			</div>
		</div>
	</footer>

</div>
